In [1]:
import numpy as np
import pandas as pd

In [5]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

from matplotlib import pyplot as plt
import seaborn as sns
plt.style.use("bmh")

In [6]:
import matplotlib
matplotlib.rcParams["figure.figsize"] = (16, 4)

# マスター

In [2]:
format_dic = {
    "Talk (15 minutes)": 15,
    "Talk (30 minutes)": 30,
    "Talk (45 minutes)": 45
}
lang_dic = {
    "日": "ja", "英": "en"
}
cat_dic = {
    "case_study": "Project case studies",
    "web_pro": "Web programming(including web frameworks) ",
    "library": "Python libraries",
    "practice": "Best practices",
    "hardware": "extending and embedding python in hardware",
    "education": "Python in education(including science and maths)",
    "ml_ds": "Machine learning and data science",
    "gui": "GUI and games",
    "package": "Packaging",
    "fintech": "Fintech",
    "sys_ad": "System administration",
    "tools": "Programming tools",
    "business": "Business efficiency solution",
    "etc": "Anything else basically which doesn’t really fall into the types of topics above"
}

# トークリスト

In [3]:
talks = pd.read_csv("talks.csv")
talks = talks.reset_index().rename(columns={"index": "id"})
talks['id'] = talks['id'] + 1
talks['format'] = talks['format'].map(format_dic)
talks['lang'] = talks['lang'].map(lang_dic)
talks['category'] = talks['category'].map({v: k for k, v in cat_dic.items()})
talks.head()

,id,name,format,lang,category,title,request
0,1,Kazuki Higashiguchi,15,ja,case_study,Pythonを使ったAPIサーバー開発を始める際に整備したCIとテスト機構,NaN
1,2,Yusuke Miyazaki,15,ja,web_pro,Python ウェブアプリケーションのためのプロファイラの実装,NaN
2,3,Marc-Andre Lemburg,30,en,library,PyRun - Shipping the Python 3.7 runtime in jus...,NaN
3,4,武山 文信,45,ja,practice,Excel と Python による社会インフラシステムの設定ファイルの自動生成,NaN
4,5,John Belmonte,45,en,hardware,Inside a companion robot: Productive concurren...,NaN

In [49]:
talks.shape

(47, 7)

In [11]:
talks45 = talks.query("format == 45")
talks30 = talks.query("format == 30")
talks15 = talks.query("format == 15")

# 全体

In [12]:
talk_dic = {
    "all": talks, 45: talks45, 30: talks30, 15: talks15
}

In [26]:
cat_vcs = []
for name, df in talk_dic.items():
    vc = df['category'].value_counts()
    vc.name = name
    cat_vcs.append(vc)

In [27]:
pd.concat(cat_vcs, axis=1, sort=True).fillna(0).astype(int).sort_values('all', ascending=False)

            all  45  30  15
ml_ds         7   1   2   4
case_study    6   1   3   2
library       6   3   3   0
practice      6   3   1   2
web_pro       6   2   2   2
gui           3   0   2   1
tools         3   0   1   2
education     2   1   0   1
etc           2   0   1   1
hardware      2   2   0   0
business      1   0   0   1
fintech       1   0   0   1
package       1   1   0   0
sys_ad        1   0   0   1

In [28]:
lang_vcs = []
for name, df in talk_dic.items():
    vc = df['lang'].value_counts()
    vc.name = name
    lang_vcs.append(vc)
pd.concat(lang_vcs, axis=1, sort=True).fillna(0).astype(int).sort_values('all', ascending=False)

    all  45  30  15
ja   33  10  10  13
en   14   4   5   5